<div class="layout">
  <div class="card">
    <div class="card-header">
      Type your Email Id
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= form_for @email, :url => { :action => "create" } do |f| %>
          <div class="form-row">
            <div class="col">
              <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
            </div>
            <div class="col">
              <%= f.submit "Send Mail", :class => "btn btn-primary"  %>
            </div>
          </div>
        <% end %>
        <p id="notice" class="p-class"><%= notice %></p>

      </blockquote>
    </div>
    <div class="card-footer">
      <%= link_to "Back", sendgrid_mail_index_path %>
    </div>
  </div>
</div>

